<h1>Actualites</h1>

<p class="total-count"><%= @list_actualites[:total_count] %> <%= "item".pluralize(@list_actualites[:total_count]) %></p>

<ul class="actualites-list">
  <% @list_actualites[:items].each do |actualite| %>
    <li class="actualites-list-item"><%= link_to actualite.title, actualite_path(actualite.uniteam_id) %></li>
  <% end %>
</ul>

<%= paginate @pagination %>

  

